<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>City</th>
    </tr>
    <tr th:each="person : ${people}">
        <td th:text="${person.firstName}"></td>
        <td>
            <a th:href="@{/people/{id}(id=${person.id})}"
               th:text="${person.lastName}"></a>
        </td>
        <td th:text="${person.city}"></td>

    </tr>
</table>
</body>
</html>